@import '~antd/dist/antd.css';

img{max-width: 100%}
ul{
  list-style: none;
  padding: 0;
  li{
    display: inline-block;
    vertical-align: top;
    opacity: 0.5;
    transition: all .25s ease;
    &:hover{
      opacity: 1;
    }
  }
}
.ant-layout-header{
  height: auto;
}
.ant-card-meta-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
}
