@import '~antd/dist/antd.css';
$darkGrey: #2f3640;
$grey: #353b48;

.bg-grey {
    background-color: $grey;
}
.bg-dark-grey {
    background-color: $darkGrey;
}

.App > .ant-layout {
    width: 85%;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
    padding: 0;
    li {
        display: inline-block;
        vertical-align: top;
        opacity: 0.5;
        transition: all 0.25s ease;
        &:hover {
            opacity: 1;
        }
    }
}
.ant-layout-header {
    height: auto;
}
.ant-card-actions > li {
    margin: 0;
}
aside {
    width: 15%;
    position: fixed;
    right: 0;
    height: 100%;
    top: 0;
    @extend .bg-dark-grey;
}
header{
  p{
    margin: 0;
    line-height: initial;
    height: initial;
  }
}
.ant-card-meta-description{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
